@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
    padding-top: 4rem;
    min-height: 100vh;
    font-family: "Raleway",sans-serif;
    line-height: .8;
    background-color: #dcdcdc;
    color: grey;
}
.Dashboard {
    background-color: #fff;
    margin: auto;
    width: 800px;
    line-height: .8;
    border-radius: 15px;
    min-height: 400px;
    max-height: 600px;
    box-shadow: 0 4px 4px grey;
}
.student-container {
    min-height: 400px;
    max-height: 600px;
    border-radius: 15px;
    overflow: auto;
    margin: auto;
    position: relative;
    box-shadow: 0 4px 4px grey;
}
.card-title {
    font-weight: 900;
    text-transform: uppercase;
}
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid grey;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
}
.search-input {
    width: 100%;
    text-align: center;
}
.search-input input {
    width: 95%;
    padding: 15px 0;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #dcdcdc;
    font-size: 1.5rem;
    font-family: "Raleway",sans-serif;
    outline: none;
}
.enter-tag input {
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    font-size: 1rem;
    font-family: "Raleway",sans-serif;
}
